@page
@model SqlPackMan.Pages.PackageItems.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DbObject[0].ObjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbObject[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbObject[0].Package)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbObject[0].DbObjectType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DbObject) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DbObjectType.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
